<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/style_result.css"/>

<div class="container info">
    <h2>Submitted Info</h2>
    <p>Name: @ViewBag.Name</p>
    <p>Dojo Location: @ViewBag.Location</p>
    <p>Favorite Language: @ViewBag.Language</p>
    <p>Comment: @ViewBag.Comment</p>
    <a href="/"><button type="submit" class="btn btn-dark submit">Go Back</button></a>
</div>