<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/style_contact.css"/>

<div class="container">
    <div class="center">
        <div>
            <a href="/">Home </a>|
            <a href="/projects"> Projects </a>|
            <a> Contact</a>
        </div>
        <div class="title">
            <h1>Contact Me!</h1>
        </div>
        <div class="content">
            <form action="/">
                <div class="form-group">
                    Name <input type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    Email <input type="email" class="form-control"/>
                </div>
                <div class="form-group">
                    Message <textarea class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-dark">Send</button>
            </form>
        </div>
    </div>
</div>