<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/style_projects.css"/>

<div class="container">
    <div class="center">
        <div>
            <a href="/">Home </a>|
            <a> Projects </a>|
            <a href="/contact"> Contact</a>
        </div>
        <div class="title">
            <h1>Here are some projects of mine!</h1>
        </div>
        <div class="content">
            <div class="box_1">
                <div class="image">
                    <img src="~/images/2.jpg" alt="">
                </div>
                <div class="description">
                    <h4>Cool thing!</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of 
                        the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's 
                        standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of 
                        type and scrambled it to make a type specimen 
                        book. It has survived not only five centuries, 
                        but also the leap into electronic typesetting, 
                        remaining essentially unchanged. It was 
                        popularised in the 1960s with the release of 
                        Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software 
                        like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
            <div class="box_2">
                <div class="image">
                    <img src="~/images/3.jpg" alt="">
                </div>
                <div class="description">
                    <h4>Cool thing!</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of 
                        the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's 
                        standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of 
                        type and scrambled it to make a type specimen 
                        book. It has survived not only five centuries, 
                        but also the leap into electronic typesetting, 
                        remaining essentially unchanged. It was 
                        popularised in the 1960s with the release of 
                        Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software 
                        like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
            <div class="box_3">
                <div class="image">
                    <img src="~/images/4.jpg" alt="">
                </div>
                <div class="description">
                    <h4>Cool thing!</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of 
                        the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's 
                        standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of 
                        type and scrambled it to make a type specimen 
                        book. It has survived not only five centuries, 
                        but also the leap into electronic typesetting, 
                        remaining essentially unchanged. It was 
                        popularised in the 1960s with the release of 
                        Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software 
                        like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>